$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@use '@ministryofjustice/hmpps-arns-frontend-components-lib/dist/all';
@use 'partials/header-bar';
@use 'partials/example';
@use './overrides/local';

@use "partials/risk/mappa-widget";
@use "partials/risk/risk-flag-widget";
@use "partials/risk/rosh-widget";
@use "partials/risk/detailed-risk-predictor-scores-example";
@use "partials/risk/intro-page";

@import "@ministryofjustice/frontend/moj/all";
